body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.allWrapper{
  background-color: #D6DBDF;
  height: 480px;
  width: 290px;
  margin-left: 40%;
  border-radius: 7%;
  margin-top: 10px;
  padding-top: 10px;
  box-shadow: 0 5px 5px 0 rgb(0 0 0/17%);

}
.hv:hover{
  cursor:pointer;
}
